body{
    margin: 0%;
    padding: 0%;
    background: #dedede

}
ul{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0%;
    padding: 0%;
    display: flex;
}
li{
    list-style: none;
}
i{
    size: 3em;
}
li a{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 20px;
    padding: 30px;
    background: linear-gradient(0deg,#ddd,#fff);
    box-shadow: 0 10px 15px rgba(0, 0, 0,0.3)
}
li a:hover{
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
    transition: ease-in-out;
    transition-duration: 0.5s;    
}
a .fa{
    width: 100%;
    height: 100%;
    display: block;
    background: red;
    border-radius: 50%;
    font-size: 48px;
    padding: 15px;
    transform: translate(-15px,-15px);   
    transition: 0.5s;
    background: linear-gradient(0deg,#fff,#ddd);
    color: #000;

}
li:nth-child(1) a:hover .fa{
    color: #3b5998;
}
li:nth-child(2) a:hover .fa{
    color: #00aced
}
li:nth-child(3) a:hover .fa{
    color: #dd4b39
}
li:nth-child(4) a:hover .fa{
    color: #bc2a8d;
}
li:nth-child(5) a:hover .fa{
    color: #007bb6
}